NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL='https://api.lapesquerapp.es'
NEXT_PUBLIC_AZURE_DOCUMENT_AI_LISTADO_COMPRAS_LONJA_DE_ISLA_MODEL_ID='listado-compras-lonja-de-isla'
NEXT_PUBLIC_AZURE_DOCUMENT_AI_LISTADO_COMPRAS_ASOC_ARMADORES_PUNTA_DEL_MORAL_MODEL_ID='listado-compras-asoc-punta-del-moral-v1'
NEXT_PUBLIC_AZURE_DOCUMENT_AI_ALBARAN_COFRADIA_PESCADORES_SANTO_CRISTO_DEL_MAR_MODEL_ID='Version-entrenada-1'
NEXT_PUBLIC_AZURE_DOCUMENT_AI_ENDPOINT='https://albarancofrawebextractor.cognitiveservices.azure.com/'
NEXT_PUBLIC_AZURE_DOCUMENT_AI_KEY='4QqFdUzuiDvsEq8yAplFwTOZoUoFupRdchE5VfWtNtl6Ut4OlbPeJQQJ99BCAC5RqLJXJ3w3AAALACOGHxH6'
NEXTAUTH_SECRET='aRvEbStkSdfCO5nAl67FU1Wwup+T2mb7l2P4jzvhm60='